* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url(images/merakist-l5if0iQfV4c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgb(0 188 212 / 42%);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #FF5722;
}

::placeholder {
    color: #FF5722;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}